///
/// Block Style: Compact
///

/* Block Style for Table
--------------------------------------------- */
.wp-block-table.is-style-compact {
	font-size: var(--wp--preset--font-size--small);
	line-height: 1;
	overflow-y: hidden;

	td {
		padding: var(wp--preset--spacing--10);
	}

	.wp-element-caption {
		line-height: 1.5;
	}
}
