///
/// Block: Post Conent
///

/* Password Form
--------------------------------------------- */
.post-password-form {
	input[type="password"] {
		border: 1px solid var(--wp--preset--color--base-4);
		background: var(--wp--preset--color--base-2);
		padding: var(--wp--preset--spacing--10);
		color: var(--wp--preset--color--contrast-2);
		font-size: var(--wp--preset--font-size--medium);
	}

	input[type="submit"] {
		border: 1px solid var(--wp--preset--color--base-4);
		border-radius: var(--wp--preset--border-radius--full);
		background: var(--wp--preset--color--contrast);
		padding: var(--wp--preset--spacing--10);
		padding-right: var(--wp--preset--spacing--30);
		padding-left: var(--wp--preset--spacing--30);
		color: var(--wp--preset--color--base);
		font-size: var(--wp--preset--font-size--medium);
	}
}

/* Navigation Links
--------------------------------------------- */

/* This navigation style is also used in
* comments-pagination and query-pagination
*/
.post-nav-links {
	.post-page-numbers {
		border: 1px solid var(--wp--preset--color--base-4);
		border-radius: 3px;
		padding: 0.5em 1em;
		font-variant-numeric: tabular-nums;
		text-decoration: none;
	}

	a:hover {
		background-color: var(--wp--preset--color--base-2);
	}

	.current {
		border: 1px dashed var(--wp--preset--color--base-4);
	}
}
