///
/// Button
///

/* Block Style: Base
--------------------------------------------- */
.wp-block-button.is-style-base > .wp-block-button__link {
	color: var(--wp--preset--color--contrast);
	background-color: var(--wp--preset--color--base-2);

	&:hover {
		background-color: color-mix(
			in srgb,
			var(--wp--preset--color--base-2) 92%,
			transparent
		);
	}

	/* Section Styles
	--------------------------------------------- */

	/* [Base-2] */
	.is-style-section-base-2 & {
		background-color: var(--wp--preset--color--base);
	}
}
