///
/// Button
///

/* General: Buttons Styling
--------------------------------------------- */
.wp-block-button > .wp-block-button__link {
	transition: all 100ms ease-in-out;

	&:hover {
		box-shadow: var(--wp--preset--shadow--medium);
	}

	&:active {
		scale: (0.98);
	}
}
