///
/// Paragraph
///

.wp-block-query-pagination-numbers .page-numbers {
	padding: var(--wp--preset--spacing--10) var(--wp--preset--spacing--20);
	border: 1px solid var(--wp--preset--color--base-4);
	border-radius: 3px;
	text-decoration: none;
}
