///
/// List
///

/* Block Style: Checkmark
--------------------------------------------- */
.wp-block-list.is-style-checkmark {
	padding-inline-start: 3ch;
	list-style-type: "\2713";

	li {
		padding-inline-start: 1ch;
	}
}
