<!-- wp:group {"metadata":{"name":"Wrapper"},"align":"wide","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:template-part {"slug":"header","area":"header","align":"wide"} /-->

<!-- wp:cover {"useFeaturedImage":true,"dimRatio":80,"overlayColor":"brand-5","isUserOverlayColor":true,"minHeight":25,"minHeightUnit":"dvh","contentPosition":"bottom center","isDark":false,"align":"wide","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
<div class="wp-block-cover alignwide is-light has-custom-content-position is-position-bottom-center" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;min-height:25dvh"><span aria-hidden="true" class="wp-block-cover__background has-brand-5-background-color has-background-dim-80 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"align":"wide","className":"is-style-default","style":{"color":{"gradient":"linear-gradient(180deg,rgba(255,255,255,0) 0%,rgb(255,255,255) 100%)"},"spacing":{"padding":{"bottom":"var:preset|spacing|20","top":"var:preset|spacing|20"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide is-style-default has-background" style="background:linear-gradient(180deg,rgba(255,255,255,0) 0%,rgb(255,255,255) 100%);padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20)"><!-- wp:post-title {"level":1,"align":"wide"} /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /-->

<!-- wp:spacer {"height":"var:preset|spacing|40"} -->
<div style="height:var(--wp--preset--spacing--40)" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /--></div>
<!-- /wp:group -->