///
/// Block: Query Pagination
///

/* General Styling
--------------------------------------------- */
/* This navigation style is also used in
* core-post-content.scss and core-query-pagination.scss
*/
.wp-block-comments-pagination-numbers {
	.page-numbers {
		padding: 0.5em 1em;
		border: 1px solid var(--wp--preset--color--base-4);
		border-radius: 3px;
		text-decoration: none;
		font-variant-numeric: tabular-nums;
	}
	a:hover {
		background-color: var(--wp--preset--color--base-2);
	}
	.current {
		border: 1px dashed var(--wp--preset--color--base-4);
	}
}
