/*!
 *
 * _________________________
 * < (c) StudioLeismann.com  >
 * -------------------------
 *	\
 *	 \
 *	  \
 *		>()
 *		 (__)__ _
 */

/**
 * global.css and global.js are loaded for both frontend and editor.
 */


@use "./scss/base/variables";
@use "./scss/base/typography";
@use "./scss/base/view-transition";
@use "./scss/base/helpers";

@use "./scss/elements/html";
@use "./scss/elements/button";
@use "./scss/elements/heading";
@use "./scss/elements/code";
@use "./scss/elements/link";
@use "./scss/elements/textinput";

/* Parts */
@use "./parts/index.scss";

/* Sections */
// No sections in this theme

/* Block Styes are getting imported by Webpack automatically */
/* Blocks are getting imported by Webpack automatically */


// @use "./base/dev-a11y"; // Uncomment for development to highlight accessibility issues
