///
/// Element: Button
///

/* Button
--------------------------------------------- */
.wp-element-button {
	&:active {
		scale: (0.98);
	}
}

.wp-element-button:hover {
	background-color: color-mix(
		in srgb,
		var(--wp--preset--color--brand-2) 95%,
		transparent
	);
	opacity: 1;
}
