///
/// Element: textInput
///

///
/// Forms & Input Fields
///

.form,
.wpcf7 {
	label {
		margin-top: var(--wp--preset--spacing--20);
		font-size: var(--wp--preset--font-size--small);
	}

	// input[type="text"],
	// input[type="email"],
	// input[type="url"],
	// input[type="password"],
	// input[type="search"],
	// input[type="number"],
	// input[type="tel"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	textarea {
		border-radius: 6px;
		line-height: 1;
		border: 1px solid var(--wp--preset--color--base-5);
		padding: var(--wp--preset--spacing--10);
		max-width: stretch;
	}
	textarea {
		line-height: 1.2;
	}
	// select {
	// 	border-radius: 6px;
	// 	line-height: 1;
	// 	border: 1px solid var(--wp--preset--color--base-5);
	// 	padding: var(--wp--preset--spacing--10);
	// 	background-color: var(--wp--preset--color--base);
	// }

	.wpcf7-not-valid {
		outline: none;
		border-color: red;
		box-shadow: inset 0 0 0 2px rgba(red, 0.1);
	}

	/**
   * Button
   */
	// input[type="submit"] {
	// 	// background-color: var(--wp--preset--color--brand-3);
	// 	// color: var(--wp--preset--color--base);
	// 	// border: none;
	// 	// font-size: 1rem;
	// 	// font-family: var(--wp--preset--font-family--open-sans);
	// 	// border-radius: 8px;
	// 	// transition: all 100ms ease-in-out;
	// 	// box-shadow: var(--wp--preset--shadow--small);

	// 	&:hover {
	// 		background-color: color-mix(
	// 			in srgb,
	// 			var(--wp--preset--color--brand-3) 92%,
	// 			transparent
	// 		);
	// 		cursor: pointer;
	// 		box-shadow: var(--wp--preset--shadow--medium);
	// 	}
	// 	&:active {
	// 		scale: (0.98);
	// 	}
	// }
}
