///
/// Navigation
///

@use "../../scss/base/variables" as *;

/* General: Navigation Styling
--------------------------------------------- */
.wp-block-navigation .current-menu-item {
	text-decoration: underline;
}

@media screen and (min-width: $medium) {
	.wp-block-navigation
		.has-child:not(.open-on-click):hover
		> .wp-block-navigation__submenu-container {
		width: 250px;
		box-shadow: var(--wp--preset--shadow--x-large);
		.wp-block-navigation-item:hover {
			background-color: var(--wp--preset--color--base-2);
		}
		.wp-block-navigation-item a:hover {
			color: var(--wp--preset--color--contrast-3);
		}
	}
}

/* Bug fix */
@media (max-width: $medium) {
	.wp-block-navigation__responsive-container.is-menu-open {
		min-height: 100vh;
		z-index: 9999;
	}
}
